---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Not Found">
    <h1 class="text-center text-white text-5xl pt-12">Error 404: Not Found</h1>
    <h1 class="text-center text-white text-3xl pt-6">That page doesn't exist. Check your spelling or <a href="/"><span class="text-blue-400">return to home</span></a>.</h1>
</Layout>