---
import Layout from "../layouts/Layout.astro";
import Fourofour from "../components/lottie/fourofour.svelte";
---
<Layout title="Not Found">
    <Fourofour client:only="svelte" />
    <h1 class="text-center text-white sm:text-2xl 2xl:text-5xl 2xl:pt-12">Error 404: Not Found</h1>
    <h1 class="text-center text-white sm:text-xl 2xl:text-3xl 2xl:pt-6">That page doesn't exist. Check your spelling or <a href="/"><span class="text-blue-400">return to home</span></a>.</h1>
</Layout>