---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/backend";
import type { Class } from "../lib/db";
import Greeting from "../components/lottie/greeting.svelte";
// https://assets7.lottiefiles.com/packages/lf20_xnbikipz.json

let user = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user

if(user == null) {
    location.replace("/")
}

let classids = (await supabase.from("Class_User")
.select("class_id").eq("user_id", user!.id)).data!.map(x => x.class_id)

let classes: Class[] = (await supabase.from("Class").select("*").in("id", classids!)).data!
---
<Layout title="Dashboard" loggedIn={true}>
    <!-- <h1 class="text-5xl text-center text-white mt-5 h-44">Welcome!</h1> -->
    <div class="flex justify-center h-56 sm:pt-10 2xl:scale-125">
    <Greeting client:only="svelte"></Greeting>
    </div>
    <!-- <div class="grid grid-cols-1 sm:grid-cols-3 items-center center 2xl:grid-cols-4 mt-10 gap-y-10 sm:gap-12 place-items-center"> -->
    <div class="flex flex-row flex-wrap gap-10 items-center justify-center">
        {classes?.map(c => (
            <div onclick={`window.location = "/class/${c.id}"`} style="cursor: pointer;" class="card bg-info-content w-96 h-20 2xl:h-36 2xl:w-[32rem] sm:h-32">
                <div class="card-body items-center justify-center">
                    <h1 class="card-title text-center 2xl:text-2xl">{c.name}</h1>
                </div>
            </div>
        ))}
    </div>
</Layout>