---
// Layout
import Layout from '../layouts/Layout.astro';
// Lottie Anims
import Hand from '../components/lottie/hand.svelte';
import Post from '../components/lottie/post.svelte';
import Answers from '../components/lottie/answers.svelte';
---
<script is:inline>
	const isOptionalChainingSupported = () => {
		try {
			eval('const foo = {}; foo?.bar');
		} catch {
			return false;
		}

		return true;
	}
	console.log(isOptionalChainingSupported())
	
	if(!isOptionalChainingSupported()) {
		location.replace("/fallback")
	}
</script>
<script>
	import { supabase } from "../lib/backend";

	let user = (await supabase.auth.getUser()).data.user
	if(user) {
		window.location.href = "/dashboard"
	}
</script>

<Layout title="HelpingHand">
	<div class="flex flex-col items-center">
		<div class="text-center sm:mt-20 2xl:mt-40">
			<h1 class="font-bold sm:text-3xl 2xl:text-5xl text-white pt-10">HelpingHand</h1>
			<h2 class="sm:text-lg 2xl:text-3xl text-white mt-6">The #1 Place for sharing your homework assignments!</h2>
		</div>
		<div class="mt-10 flex-row space-x-10">
			<a class="btn sm:btn-md 2xl:btn-lg btn-primary" href="/login">Login</a>
			<a class="btn sm:btn-md 2xl:btn-lg btn-success" href="/register">Register</a>
		</div>
		<div class="mt-40 grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 sm:gap-x-10 gap-y-10">
			<div class="card sm:w-96 sm:h-80 2xl:w-96 2xl:h-96 bg-info-content shadow-xl items-center">
				<div class="card-body text-center items-center pt-10" id="CTOCard">
					<Hand client:only="svelte"/>
					<h2 class="card-title text-white text-3xl mb-3">
						Join Classes
					</h2>
					<p>
						Select the classes you're in to make sure you only get answers which matter.
					</p>
				</div>
			</div>
			<div class="card sm:w-96 sm:h-80 2xl:w-96 2xl:h-96 bg-info-content shadow-xl items-center">
				<div class="card-body text-center items-center pt-10" id="CTOCard">
					<Post client:only="svelte"/>
					<h2 class="card-title text-white text-3xl mb-3">
						Post Your Assignments
					</h2>
					<p>
						Share your answers with those who need them.
					</p>
				</div>
			</div>
			<div class="card sm:w-96 sm:h-80 2xl:w-96 2xl:h-96 bg-info-content shadow-xl items-center">
				<div class="card-body text-center items-center pt-10" id="CTOCard">
					<Answers client:only="svelte"/>
					<h2 class="card-title text-white text-3xl mb-3">
						Get Answers
					</h2>
					<p>
						Find your desired assignment and just copy the answers!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="w-screen h-16">

	</div>
</Layout>

<style is:global>
	/* #CTOCard {
		background-color: #001242;
	} */
</style>