---
import Layout from "../layouts/Layout.astro";
import UpdateCard from "../components/svelte/updateCard.svelte";


---
<Layout title="Updates">
<div>
    <p class="text-2xl text-white font-extrabold text-center pt-8">🔥Update Log🔥</p>
    <UpdateCard client:only="svelte"></UpdateCard>
    <div class="flex justify-center">
        <a class="btn btn-error mt-7" href="/">Go Back</a>
    </div>
</div>
</Layout>