---
import { supabase } from '../lib/backend';

export interface Props {
	title: string,
	loggedIn?: boolean
}

const { title, loggedIn = false } = Astro.props;

if(loggedIn) {
	const refreshToken = Astro.cookies.get("my-refresh-token").value
	const accessToken = Astro.cookies.get("my-access-token").value

	if (refreshToken && accessToken) {
		await supabase.auth.setSession({
			refresh_token: refreshToken,
			access_token: accessToken,
		})
	}

	const currentUser = (await supabase.auth.getUser(accessToken)).data.user

	var unauth = loggedIn && currentUser === null
} else {
	var unauth = false
}




---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="navbar bg-info-content">
			<div class="flex-1">
				<a class="btn btn-ghost normal-case text-xl" href={loggedIn ? "/dashboard" : "/"}>HelpingHand</a>
				<div class="flex-none ml-3">
					<ul class="menu menu-horizontal">
						{loggedIn && <li><a href="/logout" class="text-xl">Logout</a></li>}
					</ul>
				</div>
			</div>
		</div>
		{!unauth ? <slot /> : <script>location.replace("/")</script>}
	</body>
</html>