---
import { supabase } from '../lib/backend';
import HHIcon from '../components/image/HHIcon.svg'
import Search from '../components/svelte/search.svelte';

export interface Props {
	title: string,
	loggedIn?: boolean
}

const { title, loggedIn = false } = Astro.props;

const refreshToken = Astro.cookies.get("my-refresh-token").value
const accessToken = Astro.cookies.get("my-access-token").value

if (refreshToken && accessToken) {
	await supabase.auth.setSession({
		refresh_token: refreshToken,
		access_token: accessToken,
	})
}
	
	
const currentUser = (await supabase.auth.getUser(accessToken)).data.user
var authed = currentUser !== null

---
<script>
	import { supabase } from "../lib/backend"

	//@ts-ignore
	window.feedback = () => {
		let feed = prompt("Please enter your feedback or suggestions:")
		supabase.from("Feedback").insert({text: feed})
		.then(() => null)
	}
</script>

<!DOCTYPE html>
<html lang="en" data-theme="forest">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdn.lr-in-prod.com/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('helpinghand/helpinghand');</script>
	</head>
	<body>
		<div data-theme="forest" class="w-full h-full">
			<div class="hidden md:block">
				<div class="navbar bg-info-content fixed top-0 z-50 drop-shadow-lg" id="Nav">			
					<div class="flex-1">
						<a class="btn btn-ghost normal-case text-xl text-white" href={authed ? "/dashboard" : "/"}><img src={HHIcon}></a>
						<div class="flex-none ml-3">
							<ul class="menu menu-horizontal gap-3">
								<li><a class="text-xl" href="/updateLog">Update Log  <span class="indicator-item badge badge-error">NEW</span> </a></li>
								<Search client:only="svelte" />
							</ul>
						</div>
					</div>
						<!-- svelte-ignore a11y-label-has-associated-control -->
						<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
						<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
						<!-- svelte-ignore a11y-missing-attribute -->
						<!-- svelte-ignore a11y-click-events-have-key-events -->
						<!-- svelte-ignore a11y-missing-attribute -->
						<!-- svelte-ignore a11y-click-events-have-key-events -->
						<div class=" flex flex-row gap-10 pr-10">
							<a class="text-xl" onclick="window.feedback()">✏️ Feedback</a>
							<a class="text-xl" href="/classrequest">📕 Class Request</a>
							{authed && <a href="/survey" class="text-xl">⚛️ Change Classes</a>}
							{authed && <a href="/logout" class="text-xl">↩ Logout</a>}
						</div>
				</div>
			</div>
			<div class=" block md:hidden">
				<div class="collapse bg-info-content w-full h-auto">
					<input type="checkbox" /> 
					<div class="collapse-title text-2xl font-medium text-center">
					Menu ≡
					</div>
					<div class=" flex flex-col collapse-content justify-center"> 
					<!-- <p>hello</p> -->
						<a class="btn btn-ghost normal-case text-xl text-center" href={authed ? "/dashboard" : "/"}>Home</a>
						<a class="text-xl text-center btn btn-ghost normal-case" href="/updateLog">Update Log  <span class="indicator-item badge badge-error">NEW</span></a>
						<a class="text-xl text-center btn btn-ghost normal-case" onclick="window.feedback()">✏️ Feedback</a>
						<a class="text-xl text-center btn btn-ghost normal-case" href="/classrequest">📕 Class Request</a>
						{authed && <a href="/survey" class="text-xl text-center btn btn-ghost normal-case">⚛️ Change Classes</a>}
						{authed && <a href="/logout" class="text-xl text-center btn btn-ghost normal-case">↩ Logout</a>}
					</div>
				</div>
			</div>
			{!authed && loggedIn ? <script>location.replace("/")</script> : <slot />}
			
		</div>
	</body>
</html>

<style is:global>
	/* body {
		background-color: #040F16;
	}
	#Nav {
		background-color: #00002e;
	}
	:root {
		background-color: #040F16;
	} */
	html, body {
		overflow-x: hidden;
	}

	:root, body {
		background-color: #171212;
	}
</style>
