---
import { supabase } from '../lib/backend';
import HHIcon from '../components/image/HHIcon.svg'

export interface Props {
	title: string,
	loggedIn?: boolean
}

const { title, loggedIn = false } = Astro.props;

const refreshToken = Astro.cookies.get("my-refresh-token").value
const accessToken = Astro.cookies.get("my-access-token").value

if (refreshToken && accessToken) {
	await supabase.auth.setSession({
		refresh_token: refreshToken,
		access_token: accessToken,
	})
}
	
	
const currentUser = (await supabase.auth.getUser(accessToken)).data.user
var authed = currentUser !== null

---
<script>
	import { supabase } from "../lib/backend"

	//@ts-ignore
	window.feedback = () => {
		let feed = prompt("Please enter your feedback or suggestions:")
		supabase.from("Feedback").insert({text: feed})
		.then(() => null)
	}
</script>

<!DOCTYPE html>
<html lang="en" data-theme="night">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdn.lr-in-prod.com/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('helpinghand/helpinghand');</script>
	</head>
	<body>
		<div data-theme="night" class="w-full h-full">
			<div class="navbar bg-info-content" id="Nav">
				<div class="flex-1">
					<a class="btn btn-ghost normal-case text-xl text-white" href={authed ? "/dashboard" : "/"}><img src={HHIcon}></a>
					<div class="flex-none ml-3">
						<ul class="menu menu-horizontal gap-3">
							<li><a class="text-xl" href="/updateLog">Update Log  <span class="indicator-item badge badge-error">NEW</span> </a></li>

						</ul>
					</div>
				</div>
				<div class="dropdown flex-2 dropdown-end">
					<!-- svelte-ignore a11y-label-has-associated-control -->
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<label tabindex="0"  class="btn  btn-ghost text-2xl">📝</label>
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<ul tabindex="0" class="p-2 mt-1 shadow menu menu-compact dropdown-content bg-slate-900 rounded-lg w-52 outline">
					  <!-- svelte-ignore a11y-missing-attribute -->
					  <!-- svelte-ignore a11y-click-events-have-key-events -->
					  <!-- svelte-ignore a11y-missing-attribute -->
					  <!-- svelte-ignore a11y-click-events-have-key-events -->
					  <li><a class="text-xl" onclick="window.feedback()">✐ Feedback</a></li>
					  {authed && <li><a href="/logout" class="text-xl">↩ Logout</a></li>}
					  {authed && <li><a href="/survey" class="text-xl">⚛ Change Classes</a></li>}
					</ul>
				</div>
			</div>
			{!authed && loggedIn ? <script>location.replace("/")</script> : <slot />}
		</div>
	</body>
</html>

<style is:global>
	/* body {
		background-color: #040F16;
	}
	#Nav {
		background-color: #00002e;
	}
	:root {
		background-color: #040F16;
	} */
	html, body {
		overflow-x: hidden;
	}

	:root, body {
		background-color: #0F1729;
	}
</style>
