---
import { supabase } from '../lib/backend';

export interface Props {
	title: string,
	loggedIn?: boolean
}

const { title, loggedIn = false } = Astro.props;

if(loggedIn) {
	const refreshToken = Astro.cookies.get("my-refresh-token").value
	const accessToken = Astro.cookies.get("my-access-token").value

	if (refreshToken && accessToken) {
		await supabase.auth.setSession({
			refresh_token: refreshToken,
			access_token: accessToken,
		})
	}

	const currentUser = (await supabase.auth.getUser(accessToken)).data.user

	var unauth = loggedIn && currentUser === null
} else {
	var unauth = false
}




---
<script>
	import { supabase } from "../lib/backend"

	//@ts-ignore
	window.feedback = () => {
		let feed = prompt("Please enter your feedback or suggestions:")
		supabase.from("Feedback").insert({text: feed})
		.then(() => null)
	}
</script>

<!DOCTYPE html>
<html lang="en" data-theme="night">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdn.lr-in-prod.com/LogRocket.min.js" crossorigin="anonymous"></script>
		<script>window.LogRocket && window.LogRocket.init('helpinghand/helpinghand');</script>
	</head>
	<body>
		<div data-theme="forest" class="w-full h-full">
			<div class="navbar bg-info-content" id="Nav">
				<div class="flex-1">
					<a class="btn btn-ghost normal-case text-xl text-white" href={loggedIn ? "/dashboard" : "/"}>HelpingHand</a>
					<div class="flex-none ml-3">
						<ul class="menu menu-horizontal">
							<li><a class="text-xl" onclick="window.feedback()">Feedback</a></li>
							{loggedIn && <li><a href="/logout" class="text-xl">Logout</a></li>}
						</ul>
					</div>
				</div>
			</div>
			{!unauth ? <slot /> : <script>location.replace("/")</script>}
		</div>
	</body>
</html>

<style is:global>
	/* body {
		background-color: #040F16;
	}
	#Nav {
		background-color: #00002e;
	}
	:root {
		background-color: #040F16;
	} */
</style>
